body {
    background-color:black;
}
#box{
    position: relative;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-radius: 25px;
}
h1{
    position: relative;
    margin-top: 20px;
    /* top: 50px; */
    color:grey;
    text-align: center;
}
form{
    margin-top: 2px;
}
/* label{
    top: 100px;
} */
#calcfooter{
    margin-left: 20px;
    margin-bottom: 20px;
}



#ques{
    margin-left: 30%;
    /* margin-right: 30%; */
}

.error{
    color: red;
}

#num{
    background-color: yellow;
}



